$white-color: #fff;
$primary-color: #111826;
$light-red: #de7461;
$light-yellow: #f1c45a;
$light-green: #71d050;
$dark-gray: #1c2128;
$dark-gray-2: #22272e;
$secondary: #28303b;
$text-color: #9aa0aa;
$text-light-color: #c3c3c3;

.dropdown {
    max-width: 400px;
    min-width: 300px;
    display: flex;
    position: relative;

    &__container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        cursor: pointer;
        min-height: 50px;
        padding: 4px 16px;
        border-radius: 8px;
        background-color: $dark-gray;
        border: 1px solid $secondary;
        position: relative;

        img {
            transition: all .2s ease;
            position: absolute;
            right: 10px;
        }

        &--active {
            img {
                transform: rotate(180deg);
            }
        }
    }

    &__count {
        color: $white-color;
        font-size: 13px;
        font-weight: 400;
        padding-right: 5px;
    }

    &__selected {
        display: flex;
        align-items: center;
        padding-right: 5px;
        gap: 5px;

        span {
            white-space: nowrap;
            border: 1px solid $dark-gray-2;
            padding: 2px 5px;
            border-radius: 6px;
            color: $text-color;
            font-size: 13px;
            font-weight: 400;
        }
    }

    &__input {
        width: auto;
        background-color: transparent;
        border: unset;
        outline: unset;
        color: $white-color;
        font-weight: 400;
    }

    &__options {
        position: absolute;
        overflow: hidden;
        height: 0px;
        top: calc(100% + 5px);
        background-color: transparent;
        border: 1px solid transparent;
        border-radius: 8px;
        width: 100%;
        transition: all .2s linear;

        &--active {
            background-color: $dark-gray;
            border: 1px solid $secondary;
        }
    }

    &__options-wrapper {
        display: flex;
        flex-direction: column;
        padding: 6px;
        list-style: none;
        gap: 5px;
        max-height: 232px;
        overflow-y: auto;

        li {
            padding: 8px 10px;
            color: $text-color;
            font-weight: 400;
            cursor: pointer;
            transition: all .1s ease;
            border-radius: 8px;

            &:hover {
                background-color: $secondary;
            }

            &.selected {
                background-color: $light-green;
                font-weight: 500;
                position: relative;

                &::before {
                    position: absolute;
                    content: "✓";
                    font-weight: 700;
                    right: 10px
                }
            }
        }
    }
}