.select {
    position: relative;
    width: 300px;
    height: auto;
    display: flex;

    &__input {
        position: relative;
        width: 100%;
        padding: 20px;
        outline: none;
        border: none;
        border-radius: 8px;
        font-size: 16px;
        background: #151515;
        color: white;
        cursor: pointer;
    }

    &__options {
        position: absolute;
        width: 100%;
        max-height: 220px;
        background: #101010;
        border-radius: 8px;
        top: 100%;
        transform: translateY(0);
        overflow: hidden;
        overflow-y: auto;
        visibility: hidden;
        opacity: 0;
        transition: .3s ease;
        color: #c9c9c9;

        &>li {
            list-style: none;
            font-size: 16px;
            text-transform: capitalize;
            padding: 17px 20px;
            cursor: pointer;

            &:hover {
                background: #242424;
            }
        }

        &--active {
            visibility: visible;
            opacity: 1;
            transform: translateY(5%);
        }
    }

    &__icon {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(208, 208, 208);
        font-size: 20px;
        display: flex;
        align-items: center;
        transition: transform .2s ease;
        pointer-events: none;

        &--active {
            transform: translateY(-50%) rotate(180deg);
        }
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background: #d9d9d9;
        border-radius: 20px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #8e8e8e;
    }
}